<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Banco Argentum</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=DM+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (ViewData["HideNavbar"] as bool? != true)
    {
        <div class="navbar">
            <a class="navbar-brand" href="/">
                <div class="logo-icon">A</div>
                <div><span>Banco Argentum</span><small>Sistema de Turnos</small></div>
            </a>
            <div class="nav-user">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="nav-avatar">@User.Identity.Name?.Substring(0, 2).ToUpper()</div>
                    <span>@User.Identity.Name</span>
                    <a href="/Login/Logout" class="btn-logout">Cerrar sesión</a>
                }
                else
                {
                    <a href="/Login" style="color:white; text-decoration:none;">Iniciar Sesión</a>
                }
            </div>
        </div>
    }

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
